<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>View Clients</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Client Id</th>
                                        <th>Client Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <!--<th>Edit</th>-->

                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="client : ${clients}">
                                            <td><span th:text="|${client.id}|"/></td>
                                            <td><a th:href="|/updateClient?clientId=${client.id}|" data-toggle="modal"
                                                   data-target=".bs-view-modal"><span th:text="|${client.clientName}|"/></a></td>
                                            <!--  <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>-->
                                            <td><span th:text="|${client.description}|"/></td>
                                            <td><span th:text="|${client.status}|"/></td>
                                            <!--<td>-->
                                                <!--<a th:href="|/updateClient?clientId=${client.id}|" th:onclick="|loadingScreen()|" data-toggle="modal"-->
                                                   <!--data-target=".bs-view-modal"><i class="glyphicon glyphicon-edit" alt="Edit" data-toggle="tooltip" title="Edit Client"/> &nbsp; </a>-->
                                                <!--&lt;!&ndash;<a th:href="|/manageCompanyWindow?companyID=${company.id}&amp;delete=true|" data-toggle="modal"&ndash;&gt;-->
                                                <!--&lt;!&ndash;data-target=".bs-view-modal-delete" class="delete-trash-icon"><i class="glyphicon glyphicon-trash" alt="Remove" data-toggle="tooltip" title="Remove"/> &nbsp;  </a>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<a th:href="|/viewCompanyReport?companyID=${company.id}|"><i class="glyphicon glyphicon-list-alt" alt="Pull report" data-toggle="tooltip" title="Pull report"/></a>&ndash;&gt;-->
                                            <!--</td>-->

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div><!-- row-->
        </div><!-- content-->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>