<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>View Barra DSU3</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Fund Name</th>
                                        <th>Asset ID</th>
                                        <th>Asset Name</th>
                                        <th>Holdings</th>
                                        <th>PRICE</th>
                                        <th>Eff Exposure</th>
                                        <th>Mkt Value</th>
                                        <th>Inst. Type</th>
                                        <th>Inst. Sub-type</th>
                                        <th>Eff Weight (%)</th>
                                        <th>GIR Issuer</th>
                                        <th>Reg28_InstrType</th>
                                        <th>SARB Classification</th>
                                        <th>Africa Values</th>
                                        <th>Market Capitalization</th>
                                        <th>Amount Issued</th>
                                        <th>ICB Industry</th>
                                        <th>ICB Supersector</th>
                                        <th>Subsector</th>
                                        <th>GICS Industry Group</th>
                                        <th>Time to Maturity</th>
                                        <th>Local Market</th>
                                        <th>Country Of Exposure</th>
                                        <th>Country Of Incorporation</th>
                                        <th>Country Of Quotation</th>
                                        <th>Moody Rating</th>
                                        <th>Parent IssuerID</th>
                                        <th>IssuerShortName</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="assetDSU3 : ${assetDSU3List}">
                                            <!--<td><a th:href="|/view_dsu3?assetId=${assetDSU3.id}|"><span th:text="|${assetDSU3.assetId}|"/></a></td>-->

                                            <td><span th:text="|${assetDSU3.fundName}|"/></td>
                                            <td><span th:text="|${assetDSU3.assetId}|"/></td>
                                            <td><span th:text="|${assetDSU3.assetName}|"/></td>
                                            <td><span th:text="|${assetDSU3.holdings}|"/></td>
                                            <td><span th:text="|${assetDSU3.price}|"/></td>
                                            <td><span th:text="|${assetDSU3.effExposure}|"/></td>
                                            <td><span th:text="|${assetDSU3.marketValue}|"/></td>
                                            <td><span th:text="|${assetDSU3.instType}|"/></td>
                                            <td><span th:text="|${assetDSU3.instSubType}|"/></td>
                                            <td><span th:text="|${assetDSU3.effWeight}|"/></td>
                                            <td><span th:text="|${assetDSU3.girIssuer}|"/></td>
                                            <td><span th:text="|${assetDSU3.reg28InstrType}|"/></td>
                                            <td><span th:text="|${assetDSU3.sarbClassification}|"/></td>
                                            <td><span th:text="|${assetDSU3.africaValues}|"/></td>
                                            <td><span th:text="|${assetDSU3.marketCapitalization}|"/></td>
                                            <td><span th:text="|${assetDSU3.amountIssued}|"/></td>
                                            <td><span th:text="|${assetDSU3.icbIndustry}|"/></td>
                                            <td><span th:text="|${assetDSU3.icbSuperSector}|"/></td>
                                            <td><span th:text="|${assetDSU3.subsector}|"/></td>
                                            <td><span th:text="|${assetDSU3.gicsIndustryGroup}|"/></td>
                                            <td><span th:text="|${assetDSU3.timeToMaturity}|"/></td>
                                            <td><span th:text="|${assetDSU3.localMarket}|"/></td>
                                            <td><span th:text="|${assetDSU3.countryOfExposure}|"/></td>
                                            <td><span th:text="|${assetDSU3.countryOfIncorporation}|"/></td>
                                            <td><span th:text="|${assetDSU3.countryOfQuotation}|"/></td>
                                            <td><span th:text="|${assetDSU3.moodyRating}|"/></td>
                                            <td><span th:text="|${assetDSU3.parentIssuerID}|"/></td>
                                            <td><span th:text="|${assetDSU3.issuerShortName}|"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div><!-- row-->
        </div><!-- content-->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>