<!DOCTYPE html>
<html  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: site-head">
</head>

<body>
<div id="stage" class="loading">
    <div id="loading-image"></div>
</div>

<header th:replace="layout :: site-header">
</header>

<section>
    <div class="mainwrapper">
        <div class="leftpanel" th:replace="layout :: site-leftPanel">
        </div><!-- leftpanel -->

        <div class="mainpanel">
            <div class="contentpanel">
                <div class="panel-body">
                    <div  th:if="${saveError} != null" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span th:text="${saveError}"/> </div>
                    <div  th:if="${saveMessage} != null" class="alert alert-info" align="center">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span id="success-message" th:text="${saveMessage}"/></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-girsa">
                            <div class="panel-heading">
                                <h4 class="panel-title">View Barra Asset</h4>
                            </div><!-- panel-heading -->

                    <div class="panel-body">
                        <table id="TableBarraFile" th:class="|table table-striped table-bordered responsive|">
                            <thead class="">
                            <tr>
                                <th>Asset ID</th>
                                <th>Asset ID Type</th>
                                <th>Asset Name</th>
                                <th>Holdings</th>
                                <th>Price</th>
                                <th>Eff Exposure</th>
                                <th>Mkt Value</th>
                                <th>Inst. Type</th>
                                <th>Inst. Sub-type</th>
                                <th>Eff Weight (%)</th>
                                <th>GIR Issuer</th>
                                <th>Reg28 InstrType</th>
                                <th>"Reg30 InstrType</th>
                                <th>SARB Classification</th>
                                <th>Africa Values</th>
                                <th>Market Capitalization</th>
                                <th>Shares Outstanding</th>
                                <th>"Amount Issued</th>
                                <th>ICB Industry</th>
                                <th>ICB Supersector</th>
                                <th>GIR Industry ICB</th>
                                <th>GIR Sector ICB</th>
                                <th>"GIR Subsector ICB</th>
                                <th>GIR Supersector ICB</th>
                                <th>Sector</th>
                                <th>Subsector</th>
                                <th>GICS Industry</th>
                                <th>"GICS Industry Group</th>
                                <th>GICS Sector</th>
                                <th>GICS Sub-Industry</th>
                                <th>Maturity Date</th>
                                <th>Time to Maturity</th>
                                <th>Weighted Average Life</th>
                                <th>Pricing Redemption Date</th>
                                <th>Current Yield (%)</th>
                                <th>Coupon (%)</th>
                                <th>First Coupon Date</th>
                                <th>Effective Duration</th>
                                <th>Macaulay Duration</th>
                                <th>Modified Duration</th>
                                <th>Price Currency</th>
                                <th>Local Market</th>
                                <th>Country Of Exposure</th>
                                <th>Country Of Incorporation</th>
                                <th>Country Of Quotation</th>
                                <th>Issuer</th>
                                <th>Moody Rating</th>
                                <th>Moody Long-Term Issuer Rating D</th>
                                <th>Moody Long-Term Issuer Rating F</th>
                                <th>SAndP Long-Term Issuer Rating D</th>
                                <th>SAndP Long-Term Issuer Rating F</th>
                                <th>Parent IssuerID</th>
                                <th>Parent Issuer Name</th>
                                <th>Ultimate IssuerID</th>
                                <th>Ultimate Issuer Name</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="barraAssetInfo : ${assetInfoList}">
                                <td><a th:href="|/view_asset?assetId=${barraAssetInfo.assetId}|" th:onclick="|loadingScreen()|"><span th:text="|${barraAssetInfo.assetId}|"/></a></td>
                                <td><span th:text="|${barraAssetInfo.assetIdType}|"/></td>
                                <td><span th:text="|${barraAssetInfo.assetName}|"/></td>
                                <td><span th:text="|${barraAssetInfo.holdings}|"/></td>
                                <td><span th:text="|${barraAssetInfo.price}|"/></td>
                                <td><span th:text="|${barraAssetInfo.effExposure}|"/></td>
                                <td><span th:text="|${barraAssetInfo.marketValue}|"/></td>
                                <td><span th:text="|${barraAssetInfo.instType}|"/></td>
                                <td><span th:text="|${barraAssetInfo.instSubType}|"/></td>
                                <td><span th:text="|${barraAssetInfo.effWeight}|"/></td>
                                <td><span th:text="|${barraAssetInfo.girIssuer}|"/></td>
                                <td><span th:text="|${barraAssetInfo.reg28InstrType}|"/></td>
                                <td><span th:text="|${barraAssetInfo.reg30InstrType}|"/></td>
                                <td><span th:text="|${barraAssetInfo.sarbClassification}|"/></td>
                                <td><span th:text="|${barraAssetInfo.africaValues}|"/></td>
                                <td><span th:text="|${barraAssetInfo.marketCapitalization}|"/></td>
                                <td><span th:text="|${barraAssetInfo.sharesOutstanding}|"/></td>
                                <td><span th:text="|${barraAssetInfo.amountIssued}|"/></td>
                                <td><span th:text="|${barraAssetInfo.icbIndustry}|"/></td>
                                <td><span th:text="|${barraAssetInfo.icbSuperSector}|"/></td>
                                <td><span th:text="|${barraAssetInfo.girIndustryICB}|"/></td>
                                <td><span th:text="|${barraAssetInfo.girSectorICB}|"/></td>
                                <td><span th:text="|${barraAssetInfo.girSubsectorICB}|"/></td>
                                <td><span th:text="|${barraAssetInfo.girSupersectorICB}|"/></td>
                                <td><span th:text="|${barraAssetInfo.sector}|"/></td>
                                <td><span th:text="|${barraAssetInfo.subsector}|"/></td>
                                <td><span th:text="|${barraAssetInfo.gicsIndustry}|"/></td>
                                <td><span th:text="|${barraAssetInfo.gicsIndustryGroup}|"/></td>
                                <td><span th:text="|${barraAssetInfo.gicsSector}|"/></td>
                                <td><span th:text="|${barraAssetInfo.gicsSubIndustry}|"/></td>
                                <td><span th:text="|${barraAssetInfo.maturityDate}|"/></td>
                                <td><span th:text="|${barraAssetInfo.timeToMaturity}|"/></td>
                                <td><span th:text="|${barraAssetInfo.weightedAverageLife}|"/></td>
                                <td><span th:text="|${barraAssetInfo.pricingRedemptionDate}|"/></td>
                                <td><span th:text="|${barraAssetInfo.currentYield}|"/></td>
                                <td><span th:text="|${barraAssetInfo.coupon}|"/></td>
                                <td><span th:text="|${barraAssetInfo.firstCouponDate}|"/></td>
                                <td><span th:text="|${barraAssetInfo.effectiveDuration}|"/></td>
                                <td><span th:text="|${barraAssetInfo.macaulayDuration}|"/></td>
                                <td><span th:text="|${barraAssetInfo.modifiedDuration}|"/></td>
                                <td><span th:text="|${barraAssetInfo.priceCurrency}|"/></td>
                                <!--<td><span th:text="|${barraAssetInfo.percentage}|"/></td>-->
                                <td><span th:text="|${barraAssetInfo.localMarket}|"/></td>
                                <td><span th:text="|${barraAssetInfo.countryOfExposure}|"/></td>
                                <td><span th:text="|${barraAssetInfo.countryOfIncorporation}|"/></td>
                                <td><span th:text="|${barraAssetInfo.countryOfQuotation}|"/></td>
                                <td><span th:text="|${barraAssetInfo.issuer}|"/></td>
                                <td><span th:text="|${barraAssetInfo.moodyRating}|"/></td>
                                <td><span th:text="|${barraAssetInfo.moodyLongTermIssuerRatingD}|"/></td>
                                <td><span th:text="|${barraAssetInfo.moodyLongTermIssuerRatingF}|"/></td>
                                <td><span th:text="|${barraAssetInfo.sAndPLongTermIssuerRatingD}|"/></td>
                                <td><span th:text="|${barraAssetInfo.sAndPLongTermIssuerRatingF}|"/></td>
                                <td><span th:text="|${barraAssetInfo.parentIssuerID}|"/></td>
                                <td><span th:text="|${barraAssetInfo.ultimateIssuerID}|"/></td>
                                <td><span th:text="|${barraAssetInfo.ultimateIssuerName}|"/></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                 </div>
                </div>
                </div><!-- row -->
            </div>
            </div><!-- contentpanel -->
            </div><!-- mainpanel -->
        </div><!-- mainwrapper -->
</section>
<form th:action="@{/logout}" method="POST" id="logoutForm" />

<script th:src="@{js/jquery-1.11.1.min.js}"></script>
<script th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{js/jquery-ui-1.10.3.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/modernizr.min.js}"></script>
<script th:src="@{js/pace.min.js}"></script>
<script th:src="@{js/retina.min.js}"></script>
<script th:src="@{js/jquery.cookies.js}"></script>

<script th:src="@{js/select2.min.js}"></script>
<script th:src="@{js/custom.js}"></script>

<script th:replace="layout :: site-screen-loader"/>
<script th:replace="layout :: logout-form"/>


</body>
</html>