/.settings
/.project
/domain/.classpath
/domain/.project
/domain/.settings
/domain/target
/domain/*.iml
/persistence/.classpath
/persistence/.project
/persistence/.settings
/persistence/target
/persistence/*.iml
/services/.classpath
/services/.project
/services/.settings
/services/target
/services/*.iml
/web/.classpath
/web/.project
/web/.settings
/web/target
/web/*.iml
/**/*.iml
/*.idea
/*.iml
