<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" id="main">
<head th:replace="layout :: site-head">
    <title>UDYANA</title>
</head>
<body>
<div id="wrapper">
    <header th:replace="layout :: site-header" />
    <section>
        <table id="mainTable" >

            <h1>File Upload Status</h1>

            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>

        </table>
    </section>
    <footer th:replace="layout :: site-footer" />
</div>
</body>
</html>