<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" id="main">
<head th:replace="layout :: site-head">
    <title>UDYANA</title>
</head>
<body>
<div id="wrapper">
    <header th:replace="layout :: site-header" />
    <section>
        <table id="mainTable" >
            <tr>
            <td>
            <form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" for="uploadfile">Upload File:</label>
                    <input type="file" class="form-control" name="file" id="uploadfile" placeholder="Upload File"/>
                </div>
                <br/>
                <div>
                    <button type="submit" value="Submit">Submit</button>
                </div>
            </form>
            </td>
            </tr>
        </table>
    </section>
    <footer th:replace="layout :: site-footer" />
</div>
</body>
</html>