<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="site-head">
    <title>GIRSA</title>
    <link rel="icon"  th:href="@{/images/girsa_icon.png}" type="image/x-icon"/>

    <link rel="shortcut icon"  th:href="@{/images/girsa_icon.png}" type="image/x-icon"/>

    <link  th:href="@{css/style.default.css}" rel="stylesheet" />

    <link th:href="@{css/select2.css}" rel="stylesheet" />
    <!--<link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>-->
    <link th:href="@{css/toggles.css}" rel="stylesheet" />

    <link  th:href="@{css/style.calendar.css}" rel="stylesheet" />

    <link th:href="@{css/style.datatables.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.datatables.net/responsive/1.0.1/css/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{css/magnific-popup/magnific-popup.css}" rel="stylesheet" />

</head>
<body>

<header th:fragment="site-header">
    <div class="headerwrapper">
        <div class="header-left">
            <h1 style="font-weight: 15px; text-align: center; text-color: #8ccbeb">GIRSA</h1>
        </div>
        <div class="header-right">
            <h1 style="font-weight: 10px; text-align: center; text-color: #fffff">GIRSA - Reporting</h1>
        </div><!-- header-right -->

    </div><!-- headerwrapper -->
</header>

<section>
    <div class="mainwrapper">
        <div class="leftpanel" th:fragment="site-leftPanel">
            <ul class="nav nav-pills nav-stacked" id="nav-pills-stacked">
                <li th:class="|parent|">
                    <a><i  th:class="|fa fa-leaf|" /> <span th:text="|Client Instrument Data|"/> </a>
                    <ul class="children">
                        <li><a th:href="|/upload_instrumentData|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Upload|"/> </a></li>
                        <li><a th:href="|/view_instrumentData|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View|"/> </a></li>
                    </ul>
                </li>
                <li th:class="|parent|">
                    <a><i  th:class="|fa fa-leaf|" /> <span th:text="|Barra Asset Data|"/> </a>
                    <ul class="children">
                        <li><a th:href="|/upload_assetInfo|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Upload Barra Asset|"/> </a></li>
                        <li><a th:href="|/view_assetInfo|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Barra Asset|"/> </a></li>
                    </ul>
                </li>
                <li th:class="|parent|">
                    <a><i  th:class="|fa fa-leaf|" /> <span th:text="|Mapping|"/> </a>
                    <ul class="children">
                        <li><a th:href="|/upload_additionalClassification|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Additional Classification|"/> </a></li>
                        <li><a th:href="|/view_additional_classification|" th:onclick="|loadingScreen()|"> <i  th:class="|fa fa-leaf|" /> <span th:text="|View Additional Classification|"/> </a></li>

                        <li><a th:href="|/upload_daily_pricing|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Daily Pricing|"/> </a></li>
                        <li><a th:href="|/view_daily_pricing|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Daily Pricing|"/> </a></li>

                        <li><a th:href="|/upload_derivativeTypes|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Derivative Types|"/> </a></li>
                        <li><a th:href="|/view_derivative_types|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Derivative Types|"/> </a></li>

                        <li><a th:href="|/upload_instrumentCode|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Instrument Code|"/> </a></li>
                        <li><a th:href="|/view_instrument_code|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Instrument Code|"/> </a></li>

                        <li><a th:href="|/upload_issuerMappings|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Issuer Mappings|"/> </a></li>
                        <li><a th:href="|/view_issuer_mappings|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Issuer Mappings|"/> </a></li>

                        <li><a th:href="|/upload_indices|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Indices|"/> </a></li>
                        <li><a th:href="|/view_indices|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Indices|"/> </a></li>

                        <li><a th:href="|/upload_clientFundMapping|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|PSG Fund Mapping|"/> </a></li>
                        <li><a th:href="|/view_client_fund_mapping|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View PSG Fund Mapping|"/> </a></li>

                        <li><a th:href="|/upload_reg28InstrumentType|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|Reg28 Instrument Type|"/> </a></li>
                        <li><a th:href="|/view_reg28_instrument_type|" th:onclick="|loadingScreen()|"><i  th:class="|fa fa-leaf|" /> <span th:text="|View Reg28 Instrument Type|"/> </a></li>
                    </ul>
                </li>
                <li th:class="|parent|">
                    <a><i  th:class="|fa fa-leaf|" /> <span th:text="|Client|"/> </a>
                    <ul class="children">
                        <li><a th:href="|/view_clients|" th:onclick="|loadingScreen()|">
                            <i  th:class="|fa fa-leaf|" /> <span th:text="|View Clients|"/> </a></li>
                        <li><a th:href="|/client|" th:onclick="|loadingScreen()|">
                            <i  th:class="|fa fa-leaf|" /> <span th:text="|Create Client|"/> </a></li>
                    </ul>

                </li>
                <li th:class="|parent|">
                    <a><i  th:class="|fa fa-leaf|" /> <span th:text="|Generate Report|"/> </a>
                    <ul class="children">
                        <li><a th:href="|/dry_run_qstats|" th:onclick="|loadingScreen()|">
                            <i  th:class="|fa fa-leaf|" /> <span th:text="|QSTATS Dry Run|"/> </a></li>
                        <li><a th:href="|/generate_qstats|" th:onclick="|loadingScreen()|">
                            <i  th:class="|fa fa-leaf|" /> <span th:text="|ASISA QSTATS|"/> </a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- leftpanel -->

    </div><!-- mainwrapper -->
</section>

<script th:fragment="site-screen-loader">
    $(window).load(function() {
        $('#stage').removeClass('loading').addClass('loaded');
    });

    function loadingScreen() {
        $('#stage').removeClass('loaded').addClass('loading');
    }
</script>

<script th:fragment="logout-form">
    function formSubmit() {
        document.getElementById("logoutForm").submit();
    }
</script>

<script th:fragment="site-datatables">
    function format(item) {
        return item.text;
    }

    jQuery('select option:first-child').text('');

    jQuery('#PublicHolidays').DataTable({
        responsive: true
    });

    var shTable = jQuery('#shTable').DataTable({
        "fnDrawCallback": function(oSettings) {
            jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
        },
        responsive: true
    });

    // Show/Hide Columns Dropdown
    jQuery('#shCol').click(function(event){
        event.stopPropagation();
    });

    jQuery('#shCol input').on('click', function() {

        // Get the column API object
        var column = shTable.column($(this).val());

        // Toggle the visibility
        if ($(this).is(':checked'))
            column.visible(true);
        else
            column.visible(false);
    });

    // DataTables Length to Select2
    jQuery('div.dataTables_length select').removeClass('form-control input-sm');
    jQuery('div.dataTables_length select').css({width: '60px'});
    jQuery('div.dataTables_length select').select2({
        minimumResultsForSearch: -1
    });
</script>



</body>
</html>