<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="../static/images/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <script src="../static/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../static/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
    <title>UDYANA</title>
</head>
<body>
<header th:fragment="site-header">
    <section>
        <table width="100%" height="150px" style="border: solid 0px red; padding-top: 0px;" cellspacing="0" cellpadding="0">
            <tr align="top" style="border: solid 1px yellow;">
                <td width="25%" style="border: solid 0px blue" >
                    <!--<a href="/home" th:href="@{/home}">-->
                        <img align="top" src="../static/images/site-logo.jpg" height="120px" width="100%" alt="img" th:src="@{/images/site-logo.jpg}"/>
                    <!--</a>-->
                </td>
                <td>
                    <img  align="top" src="../static/images/index.jpeg" height="120px" width="100%" alt="img" th:src="@{/images/index.jpeg}"/>
                </td>
            </tr>
        </table>
    </section>
    <section style="background: limegreen;">
        <table width="100%" style="text-align: center; ">
            <tr>
                <td width="25%"><a href="home" th:href="@{/home}">Home</a></td>
                <td width="25%"><a href="client" th:href="@{/client}">Client</a></td>
                <td width="25%"><a href="product" th:href="@{/product}">Product</a></td>
                <td width="25%"><a href="upload" th:href="@{/upload_file}">Upload</a></td>
                <!--<td width="25%"><a href="crop/crops.html" th:href="@{/crop}">Crops</a></td>-->
                <!--<td width="25%"><a href="home" th:href="@{/home}">About Us</a></td>-->
                <!--<td width="25%"><a href="contact/contactUs.html" th:href="@{/contact}">Contact Us</a></td>-->
                <!---->
                <!--<a href="pohome.htmlhtml" th:href="@{/posts}">Posts</a>-->
                <!--<a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>-->
                <!--<a href="ushome.htmlhtml" th:href="@{/users}">Users</a>-->
                <!--<div id="logged-in-info"><span>Hello, <b>(user)</b></span>-->
                <!--<form method="post" th:action="@{/users/logout}">-->
                <!--<input type="submit" value="Logout"/>-->
                <!--</form>-->
                <!--</div>-->
            </tr>

        </table>

    </section>



</header>
<!--<section th:fragment="site-center">-->
    <!--<table th:width="90%" th:height="100%">-->
        <!---->
    <!--</table>-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--<h1>Welcome</h1>-->
<!--<p>Welcome to the Spring MVC Blog.</p>-->
<footer th:fragment="site-footer">
    Copyright © 2012 www.udyana.com Powered by Udyana Trust.
</footer>
</body>
</html>