<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>View Indices</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Security</th>
                                            <th>Description</th>
                                            <th>Exch</th>
                                            <th>R</th>
                                            <th>MktCap</th>
                                            <th>MktCapLive</th>
                                            <th>Index%</th>
                                            <th>IndexPrice</th>
                                            <th>IndexPts</th>
                                            <th>YldHist%</th>
                                            <th>IWF</th>
                                            <th>#Issue</th>
                                            <th>Bid</th>
                                            <th>Ask</th>
                                            <th>Last</th>
                                            <th>+/-</th>
                                            <th>Sub Industry</th>
                                            <th>GICSCode</th>
                                            <th>PERatio</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="indice : ${indices}">
                                            <td><span th:text="|${indice.security}|"/></td>
                                            <td><span th:text="|${indice.description}|"/></td>
                                            <td><span th:text="|${indice.exch}|"/></td>
                                            <td><span th:text="|${indice.r}|"/></td>
                                            <td><span th:text="|${indice.marketCap}|"/></td>
                                            <td><span th:text="|${indice.marketCapLive}|"/></td>
                                            <td><span th:text="|${indice.indexPercentage}|"/></td>
                                            <td><span th:text="|${indice.indexPrice}|"/></td>
                                            <td><span th:text="|${indice.indexPoints}|"/></td>
                                            <td><span th:text="|${indice.yldHist}|"/></td>
                                            <td><span th:text="|${indice.iwf}|"/></td>
                                            <td><span th:text="|${indice.issue}|"/></td>
                                            <td><span th:text="|${indice.bid}|"/></td>
                                            <td><span th:text="|${indice.ask}|"/></td>
                                            <td><span th:text="|${indice.last}|"/></td>
                                            <td><span th:text="|${indice.positiveOrNegative}|"/></td>
                                            <td><span th:text="|${indice.subIndustry}|"/></td>
                                            <td><span th:text="|${indice.gicsCode}|"/></td>
                                            <td><span th:text="|${indice.peRatio}|"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div><!-- row-->
        </div><!-- content-->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>