<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>View Daily Pricing</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Issuer</th>
                                        <th>Bond code</th>
                                        <th>Type</th>
                                        <th>Features</th>
                                        <th>Moodys Rating</th>
                                        <th>Fitch Rating</th>
                                        <th>Standard And Poor's Rating</th>
                                        <th>Global Rating</th>
                                        <th>Summary rating</th>
                                        <th>Issue size (Rbn)</th>
                                        <th>Coupon (%)</th>
                                        <th>Issue date</th>
                                        <th>Maturity/ call date</th>
                                        <th>Govi benchmark</th>
                                        <th>Spread at issue</th>
                                        <th>Spread To Govi</th>
                                        <!--<th>Spread To Govi Next Day</th>-->
                                        <th>Spread To Govi 1-day change</th>
                                        <th>Spread to Jibar/ASW</th>
                                        <!--<th>Spread to Jibar/ASW Next Day</th>-->
                                        <th>Spread to Jibar/ASW 1-day change</th>
                                        <th>Current yield (%)</th>
                                        <th>Liquidity No. of trades</th>
                                        <th>Liquidity Nominal traded (Rm)</th>
                                        <th>SBR's Fair value spread to Jibar</th>
                                        <th>Last traded date</th>
                                        <th>Last MTM Change Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dailyPrice : ${dailyPrices}">
                                            <td><span th:text="|${dailyPrice.issuer}|"/></td>
                                            <td><span th:text="|${dailyPrice.bondCode}|"/></td>
                                            <td><span th:text="|${dailyPrice.type}|"/></td>
                                            <td><span th:text="|${dailyPrice.features}|"/></td>
                                            <td><span th:text="|${dailyPrice.moodys}|"/></td>
                                            <td><span th:text="|${dailyPrice.fitch}|"/></td>
                                            <td><span th:text="|${dailyPrice.standardAndPoor}|"/></td>
                                            <td><span th:text="|${dailyPrice.global}|"/></td>
                                            <td><span th:text="|${dailyPrice.summaryRating}|"/></td>
                                            <td><span th:text="|${dailyPrice.issueSize}|"/></td>
                                            <td><span th:text="|${dailyPrice.coupon}|"/></td>
                                            <td><span th:text="|${dailyPrice.issueDate}|"/></td>
                                            <td><span th:text="|${dailyPrice.maturityOrCallDate}|"/></td>
                                            <td><span th:text="|${dailyPrice.goviBenchmark}|"/></td>
                                            <td><span th:text="|${dailyPrice.spreadAtIssue}|"/></td>
                                            <td><span th:text="|${dailyPrice.spreadToGovi}|"/></td>
                                            <td><span th:text="|${dailyPrice.spreadToGovi1DayChange}|"/></td>
                                            <td><span th:text="|${dailyPrice.spreadToJibarOrASW}|"/></td>
                                            <!--<td><span th:text="|${dailyPrice.spreadToJibarOrASWNextDay}|"/></td>-->
                                            <td><span th:text="|${dailyPrice.spreadToJibarOrASW1DayChange}|"/></td>
                                            <td><span th:text="|${dailyPrice.currentYield}|"/></td>
                                            <td><span th:text="|${dailyPrice.liquidityNoOfTrade}|"/></td>
                                            <td><span th:text="|${dailyPrice.liquidityNominalTraded}|"/></td>
                                            <td><span th:text="|${dailyPrice.sbrFairValue}|"/></td>
                                            <td><span th:text="|${dailyPrice.lastTradedDate}|"/></td>
                                            <td><span th:text="|${dailyPrice.lastMTMChangeDate}|"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div><!-- row-->
        </div><!-- content-->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>