<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>View Client Fund Mapping</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Manager Fund Code</th>
                                            <th>Client Fund Code</th>
                                            <th>Manager Fund Name</th>
                                            <th>Barra Fund Name</th>
                                            <th>Fund Currency</th>
                                            <th>Comments</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="fundMapping : ${fundMappings}">
                                            <td><span th:text="|${fundMapping.managerFundCode}|"/></td>
                                            <td><span th:text="|${fundMapping.clientFundCode}|"/></td>
                                            <td><span th:text="|${fundMapping.managerFundName}|"/></td>
                                            <td><span th:text="|${fundMapping.barraFundName}|"/></td>
                                            <td><span th:text="|${fundMapping.fundCurrency}|"/></td>
                                            <td><span th:text="|${fundMapping.comments}|"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div><!-- row-->
        </div><!-- content-->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>