<!DOCTYPE html>
<html  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: site-head">
</head>

<body>
<div id="stage" class="loading">
    <div id="loading-image"></div>
</div>

<header th:replace="layout :: site-header">
</header>

<section>
    <div class="mainwrapper">
        <div class="leftpanel" th:replace="layout :: site-leftPanel">
        </div><!-- leftpanel -->

        <div class="mainpanel">
            <div class="contentpanel">
                <div class="panel-body">
                    <div  th:if="${saveError} != null" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span th:text="${saveError}"/> </div>
                    <div  th:if="${saveMessage} != null" class="alert alert-info" align="center">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span id="success-message" th:text="${saveMessage}"/></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-girsa">
                            <div class="panel-heading">
                                <h4 class="panel-title">View Transaction Listing</h4>
                            </div><!-- panel-heading -->

                    <div class="panel-body">
                        <table id="TableTransactionListing" th:class="|table table-striped table-bordered responsive|">
                            <thead class="">
                            <tr>
                                <th>Id</th>
                                <th>Sec Code</th>
                                <th>Manco</th>
                                <th>MMClass</th>
                                <th>InstrType</th>
                                <th>Sub Instr Type</th>
                                <th>FPM Instrument Type</th>
                                <th>Sec Name</th>
                                <th>Currency</th>
                                <th>Instr ID</th>
                                <th>ISIN</th>
                                <th>Instr Trade Type</th>
                                <th>Issuer Code</th>
                                <th>Issuer Name</th>
                                <th>Yield Type</th>
                                <th>Interest Rate</th>
                                <th>Linked Index</th>
                                <th>Spread</th>
                                <th>SInflation Index</th>
                                <th>Inflation Lag</th>
                                <th>Inflation Base Value</th>
                                <th>Date Issue</th>
                                <th>Nominal</th>
                                <th>Date Maturity</th>
                                <th>Maturity Value</th>
                                <th>Interest Freq</th>
                                <th>Dates Book Close</th>
                                <th>Dates Coupon Payment</th>
                                <th>Dates Reset</th>
                                <th>Date First Payment</th>
                                <th>Date Verified</th>
                                <th>Verified By</th>
                                <th>Date FPM Static</th>
                                <th>Inflation Index ID</th>
                                <th>Linked Index ID</th>
                                <th>Yield Type ID</th>
                                <th>Issuer ID</th>
                                <th>MKT Seccode</th>
                                <th>FPM Instrument Type ID</th>
                                <th>Instr Trade Type ID</th>
                                <th>Sub Instr Type ID</th>
                                <th>MMClass ID</th>
                                <th>Manco ID</th>
                                <th>UserName</th>
                                <th>ModFollowing</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transactionListing : ${transactionListings}">
                                <td><span th:text="|${transactionListing.id}|"/></td>
                                <td><span th:text="|${transactionListing.secCode}|"/></td>
                                <td><span th:text="|${transactionListing.manco}|"/></td>
                                <td><span th:text="|${transactionListing.mmClass}|"/></td>
                                <td><span th:text="|${transactionListing.instrType}|"/></td>
                                <td><span th:text="|${transactionListing.subInstrType}|"/></td>
                                <td><span th:text="|${transactionListing.fpmInstrumentType}|"/></td>
                                <td><span th:text="|${transactionListing.secName}|"/></td>
                                <td><span th:text="|${transactionListing.currency}|"/></td>
                                <td><span th:text="|${transactionListing.instrId}|"/></td>
                                <td><span th:text="|${transactionListing.isin}|"/></td>
                                <td><span th:text="|${transactionListing.instrTradeType}|"/></td>
                                <td><span th:text="|${transactionListing.issueCode}|"/></td>
                                <td><span th:text="|${transactionListing.issuerName}|"/></td>
                                <td><span th:text="|${transactionListing.yieldType}|"/></td>
                                <td><span th:text="|${transactionListing.interestRate}|"/></td>
                                <td><span th:text="|${transactionListing.linkedIndex}|"/></td>
                                <td><span th:text="|${transactionListing.spread}|"/></td>
                                <td><span th:text="|${transactionListing.inflationIndex}|"/></td>
                                <td><span th:text="|${transactionListing.inflationLag}|"/></td>
                                <td><span th:text="|${transactionListing.inflationBaseValue}|"/></td>
                                <td><span th:text="|${transactionListing.dateIssue}|"/></td>
                                <td><span th:text="|${transactionListing.nominal}|"/></td>
                                <td><span th:text="|${transactionListing.dateMaturity}|"/></td>
                                <td><span th:text="|${transactionListing.maturityValue}|"/></td>
                                <td><span th:text="|${transactionListing.interestFreq}|"/></td>
                                <td><span th:text="|${transactionListing.datesBookClose}|"/></td>
                                <td><span th:text="|${transactionListing.datesCouponPayment}|"/></td>
                                <td><span th:text="|${transactionListing.datesReset}|"/></td>
                                <td><span th:text="|${transactionListing.dateFirstPayment}|"/></td>
                                <td><span th:text="|${transactionListing.dateVerified}|"/></td>
                                <td><span th:text="|${transactionListing.verifiedBy}|"/></td>
                                <td><span th:text="|${transactionListing.dateFPMStatic}|"/></td>
                                <td><span th:text="|${transactionListing.inflationIndexID}|"/></td>
                                <td><span th:text="|${transactionListing.linkedIndexID}|"/></td>
                                <td><span th:text="|${transactionListing.yieldTypeID}|"/></td>
                                <td><span th:text="|${transactionListing.issuerID}|"/></td>
                                <td><span th:text="|${transactionListing.mktSeccode}|"/></td>
                                <td><span th:text="|${transactionListing.fpmInstrumentTypeID}|"/></td>
                                <td><span th:text="|${transactionListing.instrTradeTypeID}|"/></td>
                                <td><span th:text="|${transactionListing.subInstrTypeID}|"/></td>
                                <td><span th:text="|${transactionListing.mMClassID}|"/></td>
                                <td><span th:text="|${transactionListing.mancoID}|"/></td>
                                <td><span th:text="|${transactionListing.userName}|"/></td>
                                <td><span th:text="|${transactionListing.modFollowing}|"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                 </div>
                </div>
                </div><!-- row -->
            </div>
            </div><!-- contentpanel -->
            </div><!-- mainpanel -->
        </div><!-- mainwrapper -->
</section>
<form th:action="@{/logout}" method="POST" id="logoutForm" />

<script th:src="@{js/jquery-1.11.1.min.js}"></script>
<script th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{js/jquery-ui-1.10.3.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/modernizr.min.js}"></script>
<script th:src="@{js/pace.min.js}"></script>
<script th:src="@{js/retina.min.js}"></script>
<script th:src="@{js/jquery.cookies.js}"></script>

<script th:src="@{js/select2.min.js}"></script>
<script th:src="@{js/custom.js}"></script>

<script th:replace="layout :: site-screen-loader"/>
<script th:replace="layout :: logout-form"/>


</body>
</html>