<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>View Issuer Mappings</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Daily Pricing Issuer Name</th>
                                            <th>BARRA GIR Issuer Name</th>
                                            <th>BARRA CODE (IF LISTED)</th>
                                            <th>Issuer Code</th>
                                            <th>Market Capitalisation</th>
                                            <th>Capital &amp; Reserves</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="issuerMapping : ${issuerMappings}">
                                            <td><span th:text="|${issuerMapping.dailyPricingIssuerName}|"/></td>
                                            <td><span th:text="|${issuerMapping.barraGIRIssuerName}|"/></td>
                                            <td><span th:text="|${issuerMapping.barraCode}|"/></td>
                                            <td><span th:text="|${issuerMapping.issuerCode}|"/></td>
                                            <td><span th:text="|${issuerMapping.marketCapitalisation}|"/></td>
                                            <td><span th:text="|${issuerMapping.capitalReserves}|"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div><!-- row-->
        </div><!-- content-->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>