<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>
<footer class="main-footer" th:fragment="footer">
<strong>GIRSA 2019 &copy; All Rights Reserved.</strong>
</footer>
<section th:fragment="footerSection">
<script th:src="@{js/bootstrap-datepicker.js}"></script>
<!--Bootstrap Select-->
<script th:src="@{js/bootstrap-select.min.js}"></script>
<form method="POST" id="logout" action="/logout"></form>
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $(".datepicker").datepicker({
                todayBtn: "linked",
                autoclose: true,
                todayHighlight: true

            });
        });


    });
    function formSubmit() {
			document.getElementById("logout").submit();
	}
</script>
</section>
</body>
</html>