<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section th:fragment="message">

            <div  th:if="${errorMessage} != null" class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <span th:text="${errorMessage}"/> </div>
            <div  th:if="${successMessage} != null" class="alert alert-success" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <span th:text="${successMessage}"/></div>

        </section>

    </div>
</div>

</body>
</html>