<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>
<aside th:fragment="aside" class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!--<li class="header">Menu</li>-->

            <li class="treeview" id="clientInstrument" >
                <a href="#"><i class="fa fa-star"></i> <span>Client Instrument Data</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="|/upload_instrumentData|" >Upload</a></li>
                    <li><a th:href="|/view_instrumentData|" >View</a></li>
                </ul>
            </li>

            <li class="treeview" id="barraAssetData" >
                <a href="#"><i class="fa fa-twitter"></i> <span>Barra Asset Data</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="|/upload_assetInfo|" >Upload</a></li>
                    <li><a th:href="|/view_assetInfo|" >View</a></li>
                </ul>
            </li>

            <li th:class="|treeview|">
                <a href="#"> <i class="fa fa-arrow-circle-o-down"/><span>Mapping Files</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="|/upload_additionalClassification|" ><span>Additional Classification</span></a></li>
                    <li><a th:href="|/view_additional_classification|" ><span>View Additional Classification</span></a></li>

                    <li><a th:href="|/upload_daily_pricing|" > <span th:text="|Daily Pricing|"/> </a></li>
                    <li><a th:href="|/view_daily_pricing|" > <span th:text="|View Daily Pricing|"/> </a></li>

                    <li><a th:href="|/upload_derivativeTypes|" > <span th:text="|Derivative Types|"/> </a></li>
                    <li><a th:href="|/view_derivative_types|" > <span th:text="|View Derivative Types|"/> </a></li>

                    <li><a th:href="|/upload_instrumentCode|" > <span th:text="|Instrument Code|"/> </a></li>
                    <li><a th:href="|/view_instrument_code|" > <span th:text="|View Instrument Code|"/> </a></li>

                    <li><a th:href="|/upload_issuerMappings|" > <span th:text="|Issuer Mappings|"/> </a></li>
                    <li><a th:href="|/view_issuer_mappings|" > <span th:text="|View Issuer Mappings|"/> </a></li>

                    <li><a th:href="|/upload_indices|" > <span th:text="|Indices|"/> </a></li>
                    <li><a th:href="|/view_indices|" > <span th:text="|View Indices|"/> </a></li>

                    <li><a th:href="|/upload_clientFundMapping|" > <span th:text="|PSG Fund Mapping|"/> </a></li>
                    <li><a th:href="|/view_client_fund_mapping|" > <span th:text="|View PSG Fund Mapping|"/> </a></li>

                    <li><a th:href="|/upload_reg28InstrumentType|" > <span th:text="|Reg28 Instrument Type|"/> </a></li>
                    <li><a th:href="|/view_reg28_instrument_type|" > <span th:text="|View Reg28 Instrument Type|"/> </a></li>

                </ul>
            </li>

            <li class="treeview" id="createClient" >
                <a href="#"><i class="fa fa-bell-o"></i> <span>Client</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="|/client|" >Create Client</a></li>
                    <li><a th:href="|/view_clients|" >View Client</a></li>
                </ul>
            </li>

            <li class="treeview" id="generateReport" >
                <a href="#"><i class="fa fa-th"></i> <span>Report</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="|/dry_run_qstats|" >Dry Run</a></li>
                    <li><a th:href="|/generate_qstats|" >Generate Report</a></li>
                    <li><a th:href="|/view_reportData|" >View Report Data</a></li>
                </ul>
            </li>



            <!--<li class="treeview" id="kegiatandosen">
                <a href="#"><i class="fa fa-inbox"></i> <span>Kegiatan</span>
                    <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="/kegiatan/kbm/list">Halo</a></li>

                </ul>
            </li>

            <li class="treeview" id="laporan">
                <a href="#"><i class="fa fa-book"></i> <span>Laporan</span>
                    <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Laporan 1</a></li>
                    <li><a href="#">Laporan 2</a></li>
                </ul>
            </li>-->

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
</body>
</html>