<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="fragments/header :: header"/>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragments/side :: aside"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header"><h1>Upload Institutional Details</h1></div>

        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <form method="POST" th:action="@{/upload_institutionalDetails}" enctype="multipart/form-data">
                            <div class="box-body">

                                <div th:class="form-group">
                                    <label> <strong>Upload File * </strong></label>
                                    <input required="true" type="file" class="form-control" name="file" id="uploadFile"
                                           placeholder="Upload File"/>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="box-title btn btn-primary" title="Submit">Submit
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div> <!-- box box-primary -->
                </div> <!--col-xs-12 -->
            </div> <!--row-->
        </div> <!--content -->
    </div> <!--content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="fragments/footer :: footer"/>
    <div class="control-sidebar-bg"></div>
</div> <!--wrapper -->
<section th:replace="fragments/footer :: footerSection"/>
</body>
</html>