<!--<!DOCTYPE html>-->
<!--<html  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml" lang="en">-->
<!--<head th:replace="layout :: site-head">-->
<!--</head>-->

<!--<body>-->
<!--<div id="stage" class="loading">-->
    <!--<div id="loading-image"></div>-->
<!--</div>-->

<!--<header th:replace="layout :: site-header">-->
<!--</header>-->

<!--<section>-->
    <!--<div class="mainwrapper">-->
        <!--<div class="leftpanel" th:replace="layout :: site-leftPanel">-->
        <!--</div>&lt;!&ndash; leftpanel &ndash;&gt;-->

        <!--<div class="mainpanel">-->
            <!--<div class="contentpanel">-->

                <!--<div  th:if="${saveError} != null" class="alert alert-danger">-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                    <!--<span th:text="${saveError}"/> </div>-->
                <!--<div  th:if="${saveMessage} != null" class="alert alert-info" align="center">-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                    <!--<span id="success-message" th:text="${saveMessage}"/></div>-->

                <!--<div class="row">-->

                    <!--<div class="col-md-6 col-md-offset-3">-->
                        <!--<form method="POST" th:action="@{/upload_transaction_listing}" enctype="multipart/form-data">-->
                            <!--<div class="panel panel-girsa">-->
                                <!--<div class="panel-heading">-->
                                    <!--<h4 class="panel-title">Transaction Listing</h4>-->
                                <!--</div>-->
                                <!--<div class="panel-body">-->

                                    <!--<div th:class="|form-group|">-->
                                        <!--<label> <strong>Upload File * </strong></label>-->
                                        <!--<input required="true" type="file" class="form-control" name="file" id="uploadfile" placeholder="Upload File"/>-->
                                    <!--</div>-->

                                    <!--<div class="panel-footer" th:style="${cashChangePanelDisplay}">-->
                                        <!--<div class="col-md-12" align="right">-->
                                            <!--&lt;!&ndash;<button id="generate-cash-change-report" type="submit" class="btn btn-girsa mr5" onclick="loadingScreen()">Submit</button>&ndash;&gt;-->

                                            <!--<button type="submit" value="Submit">Submit</button>-->
                                            <!--&lt;!&ndash;<button type="reset" class="btn btn-dark">Reset</button>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->

                    <!--</div>&lt;!&ndash; col-md-6 &ndash;&gt;-->

                <!--</div>&lt;!&ndash; row &ndash;&gt;-->
            <!--</div>&lt;!&ndash; contentpanel &ndash;&gt;-->
        <!--</div>&lt;!&ndash; mainpanel &ndash;&gt;-->
    <!--</div>&lt;!&ndash; mainwrapper &ndash;&gt;-->
<!--</section>-->
<!--<form th:action="@{/logout}" method="POST" id="logoutForm" />-->

<!--<script th:src="@{js/jquery-1.11.1.min.js}"></script>-->
<!--<script th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>-->
<!--<script th:src="@{js/jquery-ui-1.10.3.min.js}"></script>-->
<!--<script th:src="@{js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{js/modernizr.min.js}"></script>-->
<!--<script th:src="@{js/pace.min.js}"></script>-->
<!--<script th:src="@{js/retina.min.js}"></script>-->
<!--<script th:src="@{js/jquery.cookies.js}"></script>-->

<!--<script th:src="@{js/select2.min.js}"></script>-->
<!--<script th:src="@{js/custom.js}"></script>-->

<!--<script th:replace="layout :: site-screen-loader"/>-->
<!--<script th:replace="layout :: logout-form"/>-->

<!--<script>-->

    <!--jQuery(document).ready(function() {-->

        <!--// Select2-->
        <!--jQuery("#select-financialServiceGroup").select2({-->
            <!--minimumResultsForSearch: 10-->
        <!--});-->

        <!--jQuery("#select-product").select2({-->
            <!--minimumResultsForSearch: 10-->
        <!--});-->

        <!--jQuery("#select-report-type").select2({-->
            <!--minimumResultsForSearch: 10-->
        <!--});-->

        <!--jQuery('#select-search-hide').select2({-->
            <!--minimumResultsForSearch: -1-->
        <!--});-->
    <!--});-->
<!--</script>-->

<!--</body>-->
<!--</html>-->