<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"></div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">GIRSA Reporting</p>
            <!--<div  th:if="${loginError}" class="alert alert-danger">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                <!--Incorrect username and password!</div>-->
            <!--<div  th:if="${logoutMessage}" class="alert alert-info" align="center">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                <!--You've been logged out successfully.</div>-->

            <form  th:action="@{/verify_login}" method="POST" name='loginForm' >
                <div class="form-group has-feedback">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Username" id="usr" name='username'/>
                </div><!-- input-group -->
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" id="pwd" name='password'
                           data-toggle="password"/>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>

                    <!--<div class="col-xs-8 text-right">
                        <a href="#" style="line-height:30px">Sign up</a>
                    </div>-->
                </div>
            </form>
    </div>
</div>
</body>
</html>